@import './color.sass'
    
.full-page
    height: 100%

.f
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: center

.g
    padding: 30px
    flex: 1
    font-family: $font
    font-size: 50px
    text-align: center
    .small-square
        background-color: #7289da
        color: $white
        border-radius: 6px
        padding: 2px 5px 2px 5px
        font-size: 20px
    .square 
        background-color: #7289da
        color: $white
        border-radius: 10px
        padding: 3px 10px 3px 10px
        font-size: 40px
    a
        font-size: 25px
        text-decoration: none
        background: 0
